.header {
  display: flex;
  justify-content: space-between;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.logo {
  padding: 10px 0;
}

.logo__img {
  width: 172px;
}

.menu-list {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding-bottom: 20px;
}

.menu-list__item--navigation {
  margin: 0 23px;
}

.menu-list__item--sub {
  background-color: #e5e5da;
  padding: 5px;
  border-left: 1px solid #fff;
}

.menu-list__item--voice-reading {
  background-color: #f2f2ed;
}

.menu-list__item--site-map {
  background-color: #074a9b;
}

.menu-list__link {
  font-size: 14px;
  color: #000;
}

.menu-list__link--navigation {
  font-weight: bold;
  font-size: 16px;
}

.menu-list__link--site-map {
  color: #fff;
}

.img-block {
  position: relative;
  height: 407px;
}

.img-btn-list {
  display: flex;
  align-items: flex-end;
  background-color: rgba(255, 255, 255, 0.88);
  width: 320px;
  padding: 0 15px 10px;
  position: absolute;
  bottom: 0;
  right: 20px;
}

.img-btn-list__item {
  margin: 5px 12px 2px;
}

.img-btn-list__btn-item {
  margin: 0 10px;
}

.img-btn-list__link {
  display: block;
  background-color: #e5e5da;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  border: 2px solid #fff;
}

.img-btn-list__link--active {
  background-color: #074999;
}

.safety-infomation {
  display: flex;
  background-color: #f2f2ed;
  justify-content: space-between;
  align-items: center;
}

.safety-infomation__title {
  width: 220px;
  margin: 0;
  padding: 10px 15px;
  font-weight: bold;
  font-size: 20px;
  color: #074a9b;
}

.safety-list {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  padding: 13.6px 30px 13.6px 0;
  margin: 0;
}

.safety-list__item {
  margin: 5px 0;
  padding: 0 15px;
  border-right: 1px solid #000;
}

.safety-list__link {
  font-size: 15px;
  color: #000;
  text-decoration: underline;
}

.search-question-block {
  display: flex;
}

.search-block {
  width: 900px;
  background: #c7e229;
  padding: 30px 60px;
}

.search-block__title {
  display: flex;
  justify-content: center;
  font-size: 20px;
  padding: 0 30px 10px;
}

.search-block__subtitle-triangle::after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  left: 84px;
  bottom: -4px;
  border-top: 5px solid #fff;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
}

.search-block__subtitle {
  padding: 0 30px 10px;
  font-weight: bold;
  position: relative;
}

.search-block__subtitle-separator::after {
  content: "";
  display: inline-block;
  position: absolute;
  left: -1px;
  width: 1px;
  height: 35px;
  top: -1px;
  background-color: #fff;
}

.search-block__subtitle::after {
  content: "";
  display: block;
  position: absolute;
  right: 20px;
  bottom: 1px;
  width: 140px;
  height: 3.5px;
  background-color: #fff;
}

.search-input {
  display: flex;
  padding: 15px 0;
}

.search-input__input {
  flex: 1;
  padding: 10px;
  background-color: #fff;
}

.search-input__btn {
  background-color: #074a9b;
  margin-left: 10px;
  width: 120px;
  padding: 0 5px;
}

.search-input__img {
  width: 120px;
  height: 50px;
}

.ad-block {
  width: 300px;
  background: #074a9b;
  padding: 70px 80px;
}

.ad-block__title {
  font-size: 18px;
  text-align: right;
  color: #fff;
  font-weight: bold;
}

.guide {
  display: flex;
  flex-wrap: wrap;
}

.guide__item {
  padding: 0 10px 10px 0;
}

.guide__link {
  display: block;
  padding: 9px 30px;
  background-color: #fff;
  border-radius: 2rem;
  font-size: 14px;
}

.infomation-event-block {
  background: linear-gradient(90deg, #f2f2ed 0 50%, #fafaf8 50% 100%);
  padding: 40px 10px 30px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.infomation-event-block__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.infomation-event-section {
  width: 590px;
  padding: 0 10px;
}

.infomation-event-section--space-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.infomation-event-section__title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #074a9b;
}

.infomation-event-section__container {
  display: grid;
  grid-template-columns: 280px 290px;
  padding-bottom: 35px;
}

.infomation-event-img-block {
  padding-bottom: 10px;
}

.infomation-event-img-block__img {
  padding-top: 12px;
}

.infomation-event-img-block__text {
  font-size: 15px;
  margin: 5px;
}

.infomation-event-link-block {
  display: flex;
  padding: 8px 0;
}

.infomation-event-link-block__link {
  text-align: center;
  background-color: #ffffff;
  margin-right: 10px;
  font-size: 15px;
  flex: 1;
  height: 45.5px;
  line-height: 45.5px;
  position: relative;
}

.infomation-event-link-block__link::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 14px;
  margin: auto 0;
  width: 9px;
  height: 9px;
  border-top: 2px solid #074a9b;
  border-right: 2px solid #074a9b;
  transform: rotate(45deg);
}

.infomation-event-link-block__link--gray {
  background-color: #e8e8df;
}

.infomation-event-list-block {
  padding: 12px 5px;
}

.infomation-event-list-block__item {
  font-size: 15px;
  padding: 8px 10px 10px;
  margin-bottom: 8px;
  border-bottom: 1px solid #fff;
}

.infomation-event-list-block__link {
  text-decoration: underline;
}

.infomation-event-left-link-block {
  padding: 0 13.6px 13.6px;
  margin-bottom: 1px;
}

.infomation-event-left-link-block__link {
  display: block;
  padding: 0 28px;
  background-color: #fff;
  height: 43.2px;
  line-height: 43.2px;
  text-decoration: underline;
  font-size: 16px;
  position: relative;
}

.infomation-event-left-link-block__link::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  left: 10px;
  width: 10px;
  height: 10px;
  border-top: 2px solid #074a9b;
  border-right: 2px solid #074a9b;
  transform: rotate(45deg);
}

.life-information-block {
  padding: 40px 20px 100px;
  background-image: url("../img/2020_top_sec07_bg.png");
  background-size: cover;
}

.container--life-information {
  margin: 0 auto;
  padding-top: 40px;
}

.life-information-panel-block {
  display: flex;
  justify-content: space-between;
}

.life-information-panel-block__link {
  display: block;
  width: 176px;
  padding: 12px 0 22px;
  background-color: #fff;
  text-align: center;
}

.life-information-panel-block__img {
  padding-top: 20px;
}

.life-information-panel-block__title {
  padding: 20px 10px 0;
  font-size: 15px;
  font-weight: bold;
}

.life-information-list-block {
  display: flex;
  padding-top: 40px;
}

.life-information-list-block__item {
  padding: 0 10px 10px 0;
}

.life-information-list-block__link {
  display: block;
  background-color: #fff;
  padding: 9px 30px;
  font-size: 14px;
  border-radius: 2em;
}

.municipal-government-block {
  background-color: #074a9b;
  padding-top: 45px;
}

.municipal-government-block__title {
  color: #fff;
}

.container--municipal-government {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 35px;
}

.municipal-government-img-block {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.municipal-government-indicators-block {
  padding: 25px 0;
  display: flex;
}

.indicators {
  display: grid;
  grid-template-rows: 40px 40px;
  width: 440px;
}

.indicators__header {
  display: flex;
  align-items: baseline;
}

.indicators__text--date {
  margin-left: 20px;
}

.indicators__main {
  display: flex;
}

.indicators__left-element {
  padding-right: 24px;
}

.indicators__text {
  font-size: 14px;
  color: #fff;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium",
    "游ゴシック", "Yu Gothic", "メイリオ";
}

.indicators__text--title {
  margin-left: 35px;
}

.indicators__text--subtitle {
  padding-right: 14px;
}

.indicators__text--date {
  font-size: 16px;
}

.indicators__text--large-text {
  font-size: 24px;
  font-weight: bold;
}

.statistics {
  display: flex;
  align-items: center;
}

.statistics__link {
  font-size: 15px;
  background-color: #fff;
  padding: 10px 45px 10px 35px;
  position: relative;
}

.statistics__link::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  right: 14px;
  width: 9px;
  height: 9px;
  border-top: 2px solid #074a9b;
  border-right: 2px solid #074a9b;
  transform: rotate(45deg);
}

.municipal-government-list-block {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 1fr 1fr;
  border: 1px solid #fff;
}

.municipal-government-list-block__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
  height: 150px;
  color: #fff;
}

.municipal-government-list-block__text {
  display: flex;
  justify-content: center;
  height: 45px;
  align-items: center;
  padding: 10px 10px 0;
  font-size: 15px;
  text-align: center;
}

.municipal-government-list-block__link--white {
  background-color: #fff;
  color: #074a9b;
}

.related-information-block {
  padding: 40px 0 70px;
}

.related-information-block__stop-btn {
  display: block;
  margin-left: auto;
  background-color: #074a9b;
  color: #fff;
  font-weight: bold;
  background-image: url("../img/2020_top_carousel_stop.png");
  background-repeat: no-repeat;
  background-position: 10px 50%;
  padding: 5px 10px 5px 35px;
}

.related-information-block__content {
  position: relative;
}

.related-information-block__informations {
  display: flex;
  padding: 35px 0 0 10px;
}

.related-information-block__btn {
  position: absolute;
  z-index: 10;
  top: 50%;
}

.related-information-block__btn--next {
  right: 0;
}

.related-information-panel__img {
  width: 100%;
}

.related-information-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 8px;
  margin-right: 20px;
}

.related-information-panel__title {
  width: 204px;
  font-size: 15px;
  text-align: center;
  margin: 5px 0 10px;
}

.machida-information-block {
  background-image: url("../img/2020_top_sec10_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 0 120px 0;
}

.machida-information-block__imgs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.machida-information-block__links {
  padding: 70px 30px;
  display: flex;
  justify-content: space-between;
}

.machida-information-link-block {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  width: 560px;
  height: 155px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
}

.machida-information-block__subtitle-img {
  padding: 13.6px 0;
}

.machida-information-link-block__title {
  font-size: 24px;
  font-weight: bold;
  color: #074a9b;
}

.ads-block {
  padding: 40px 10px;
  background-color: #cddbeb;
}

.ads-block__title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.ad-imgs {
  margin: 0 auto;
  display: flex;
  width: 700px;
}

.ad-imgs__item {
  margin: 0 12px 10px 0;
}

.footer {
  background-color: #074a9b;
  color: #fff;
}

.footer__container {
  display: flex;
  padding: 50px 0 30px;
}

.footer-img-block {
  width: 300px;
  margin-right: 50px;
}

.footer-img-block__img {
  width: 279px;
  height: 73px;
}

.footer__right-block {
  display: flex;
}

.address {
  width: 450px;
  margin-right: 55px;
}

.address__text + .address__text {
  margin-top: 16px;
}

.address__phone-number {
  font-size: 24px;
  font-weight: bold;
}

.footer-link-block {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.footer-link-block__link {
  border: 1px solid #fff;
  padding: 14px 30px;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  background-image: url("../img/2020_foot_link_icon.png");
  background-repeat: no-repeat;
  background-position: right 10px top 50%;
}

.overview-block {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  font-size: 14px;
  width: 1160px;
  margin: 0 auto;
}

.overview-block__list {
  display: flex;
}

.overview-block__item {
  padding: 0 15px;
  border-right: 1px solid #fff;
  text-decoration: underline;
}
